[submodule "Ciyac"]
	path = Ciyac
	url = https://github.com/Iya-lang/Ciyac.git
[submodule "iya-lang.github.io"]
	path = iya-lang.github.io
	url = https://github.com/Iya-lang/iya-lang.github.io.git
[submodule "download-site"]
	path = download-site
	url = https://github.com/Iya-lang/download-link
[submodule "special.dir"]
	path = special.dir
	url = https://github.com/Iya-lang/.github.git
